@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: white;
    --foreground: #ededed;
  }
}



body {
  color: black;
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.text {
  border-width: 2px;
}

.button{
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  padding: 10px;
  margin: 5px;
}

.button:active {
  transform: scale(0.95);
}


.emailAddressContainer{
  margin-top: 5px;
  margin-bottom: 5px;
}

.passwordContainer{
  margin-bottom: 5px;
}

.loginManager{
  margin-left: 20px;
}

.enterCredentials{
  color: black;
  border-color: black;
  margin: 5px;
}

.closeLogin{
  color: black;
}

.enterLogin{
  color: black;
}

.loginButtonContainer{
  position: absolute;
  left: 80%;
}

.restaurantInfo {
  position: absolute;
  left: 100px;
  top: 150px;
}


.loginButtonContainer{
  position: absolute;
  left: 83%;
}

.score {
  position: absolute;
  left: 100px;
  top: 150px;
}

.Title{
  position: absolute;
  left: 700px;
  top: 80px;
}

.table{
  position: absolute;
  left: 400px;
  top: 250px;
}

.function{
display : none;
}

.Restaurants{
  position: absolute;
  left: 700px;
  top: 100px;
}

.tables{
  position: absolute;
  left: 80%;
  
}

.closed_dates{
  position: absolute;
  left: 80%;
  top: 50%;
}

.editRestaurantContainer{
  position: absolute;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  right: 86%;
  border: black 2px solid;
}

.restaurantInfoContainer{
  position: absolute;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  right: 40%;
  border: black 2px solid;
}

.listRestaurant{
  position: absolute;
  right:90%;
}

.createRestaurantContainer{
  position: absolute;
  justify-content: center;
  flex-direction: column;
  display: flex;
  border: 1px solid black;
  width: 200px;
  height: 250px;
  left: 85%;
  top: 65%
}

.credentialInfo{
  position: absolute;
  left: 85%;
  top: 92%;
}

.restaurantList{
  position: absolute;
  right: 89%;
  top: 5%
}


.dateInput{
  position: absolute;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  right: 70%;
  top: 35%;
  border: 1px solid black;
}